.speech
{
    font-family: 'Times New Roman';
    font-size: 20px;
    color: black;
}
.name
{
    font-family:'Cambria';
    font-size: 25px;
    color: coral;
}
.direction
{
    font-family: 'Courier New';
    font-size: 30px;
    color: black;
    background-color:cyan;  
}
.direction:hover
{
    color: darkorange;
    background-color:indigo;
}
.CLYTEMNESTRA
{
color:lime;
}
.ELECTRA
{
    color:magenta ;
}
.CHOROUS
{
    color:midnightblue ;
}
.AEGISTHUS{
    color: brown;
}
.CHRYSOTHEMIS{
    color: deeppink;
}   
.PYLADES{
    color: greenyellow;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th,td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}
th{
    background-color:aquamarine;
}
tr:nth-child(odd){
    background-color:blanchedalmond;
}
.CHRYSOTHEMIS:hover {
    text-shadow: 2px 2px 5px rgba(0, 128, 0, 0.7);
    border: 1px mediumaquamarine;
}
.AEGISTHUS:hover {
    text-shadow: 2px 2px 5px rgba(0, 128, 0, 0.7);
    border: 1px mediumaquamarine;
}
.PYLADES:hover {
    text-shadow: 2px 2px 5px rgba(0, 128, 0, 0.7);
    border: 1px mediumaquamarine;
}
.navbar-horizontal
 {
    background-color:skyblue;
    bottom:0;
    width: 100%;
    position: initial;
    border: #4db5c0;
    padding :10px 0;
    text-align: center;
                                     

 }
.navbar-horizontal ul {
    
    list-style: none;
    margin:0%;
    padding: 0%;
  
  }
  
  .navbar-horizontal li {
    display: inline;
    margin: 0 15px;
    float:center;
  }
  
 .navbar-horizontal a {
    color: black;
    padding:2px
    
  }
  .navbar-horizontal img{
    vertical-align: middle;
    margin-right: 5px;
    height: 15px;
  }

  .navbar-horizontal li:hover{
background-color:bisque;
  }